body {
    background-color: aliceblue;
}

header {
    background-color:rgb(95, 173, 206);
    text-align: center;
    padding: 4px;
}

header a {
    padding: 2px;
}

header a:hover {
    background-color:rgb(74, 129, 155);

}

#link {
    display: flex;
    justify-content: space-around;
 
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
   justify-content: center;

}
/*---About Me---*/
.aboutmain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sunset img {
    max-width: 450px;
    align-items: center;
}

.hobbies {
    background-color: rgb(95, 173, 206);
}

.hobbies table, th, td {
    border: 1px solid;
}

.rate {
    text-align: center;
}
/*---Resume---*/
.reshead {
    display: flex;
    justify-content: space-between;
}
/*---Projects---*/
.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10em;
}

.layout figure {
    max-width: 500px;
    text-align: center;
}
/*---Footer---*/
footer {
    background-color: gray;
    margin-top: 2em;
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }
}